@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Raleway:100,300,400,500,700");

/* based on markdown7 from https://github.com/jasonm23/markdown-css-themes */

/* Settings */
@color-text       : #555;
@color-background : #FFF;
@color-theme      : #5AF;
@color-contrast   : contrast(@color-theme);
@color-separator  : #CCC;
@padding-scale    : 0.5rem;

/* Mixins */
.shadow( @depth: 2pt ) {
  -webkit-box-shadow : 0 @depth/2 @depth rgba(0, 0, 0, 0.5);
  -moz-box-shadow    : 0 @depth/2 @depth rgba(0, 0, 0, 0.5);
  box-shadow         : 0 @depth/2 @depth rgba(0, 0, 0, 0.5);
}

.padded( @depth: 1 ) {
  padding : @padding-scale * @depth;
}

/* Reset */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  font-family        : Roboto, sans-serif;
}
h1 { font-size: 1.8rem; border-bottom : 1px solid @color-separator; }
h2 { font-size: 1.6rem; border-bottom : 1px solid @color-separator; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 1.0rem; opacity : 0.5; }
hr {
  background-color : @color-separator;
  border           : none;
  height           : 1px;
  margin           : 0.5rem 0;
}
code {
  .padded(0.5);
  border                : 1px solid average(@color-text, @color-background);
  -webkit-border-radius : 0.25rem;
  -moz-border-radius    : 0.25rem;
  border-radius         : 0.25rem;
  background            : darken(@color-background, 3%);
  code {
    &, &.hljs {
      background : transparent;
    }
  }
}
pre, code {
  &, * {
    font-family : "DejaVu Sans Mono", monospace !important;
  }
}

/* Actual styling */
html, body {
  margin     : 0;
  padding    : 0;
  min-height : 100%;
  width      : 100%;
  color      : @color-text;
  background : @color-background;
}

body {
  position       : absolute;
  padding-bottom : (@padding-scale*2) + 2rem;
}

.content {
  margin-left  : auto;
  margin-right : auto;
  width        : 50rem;
  max-width    : 100%;
  padding      : 0 1rem;
}

header {
  .shadow();
  color      : @color-contrast;
  background : @color-theme;

  .content {
    background : transparent;
    padding    : 0;
  }
}

a {
  color: @color-theme;
}

nav a {
  .padded();
  display         : inline-block;
  text-decoration : none;
  border-left     : 1px solid fade(@color-contrast, 20%);
  float           : left;
  color           : inherit;

  &:last-child {
    border-right : 1px solid fade(@color-contrast, 20%);
  }
  &:hover {
    background   : fade(@color-contrast, 20%);
    border-color : transparent;
  }
  &:active {
    background : fade(contrast(@color-contrast), 20%);
  }
}

footer {
  .padded();
  position         : absolute;
  left             : 0;
  right            : 0;
  bottom           : 0;
  color            : @color-background;
  background-color : @color-text;
}

.view {
  display : none;
  &:target, &:last-child {
    display : initial;
  }
  &:target ~ &:last-child {
    display : none;
  }
}

.clear {
  clear : both;
}